@import "./themes/default.css";

.button {
	color: teal;
	cursor: pointer;
	text-decoration: underline;
	padding: 0px 2px 0px 2px;
}

.parentElement {
	border: 1px solid teal;
}

.option {
	border: 1px solid teal;
	padding: 2px 2px 3px 2px;
}
