<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.hangum.tadpole.commons.admin.core.editors.useranddb.UserMgmtEditor"
            default="false"
            icon="resources/icons/user.png"
            id="com.hangum.tadpole.commons.admin.core.editor.users"
            name="User List">
      </editor>
      <editor
            class="com.hangum.tadpole.commons.admin.core.editors.sqlaudit.AdminSQLAuditEditor"
            default="false"
            icon="resources/icons/sqlaudit.png"
            id="com.hangum.tadpole.commons.admin.core.edito.sqlaudit"
            name="Admin SQL Audit">
      </editor>
      <editor
            class="com.hangum.tadpole.commons.admin.core.editors.system.AdminSystemSettingEditor"
            default="false"
            icon="resources/icons/SystemConfiguration.png"
            id="com.hangum.tadpole.admin.editor.admn.system.setting"
            name="System setting">
      </editor>
   </extension>

</plugin>
