<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.hangum.tadpole.application.start.Perspective"
            id="com.hangum.tadpole.application.start.perspective"
            name="Tadpole DB Hub">
      </perspective>
   </extension>

</plugin>
