<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.hangum.tadpole.manager.core.editor.db.DBMgmtEditor"
            default="false"
            icon="resources/icons/db.png"
            id="com.hangum.tadpole.manager.core.editor.dbmgnt"
            name="%editor.name">
      </editor>
      <editor
            class="com.hangum.tadpole.manager.core.editor.executedsql.SQLAuditEditor"
            default="false"
            icon="resources/icons/sqlaudit.png"
            id="com.hangum.tadpole.manager.core.editor.manager.executed_sql"
            name="SQL Audit">
      </editor>
      <editor
            class="com.hangum.tadpole.manager.core.editor.resource.ResourceManageEditor"
            default="false"
            icon="resources/icons/resources.png"
            id="com.hangum.tadpole.manager.core.editor.resource.manager"
            name="Resource Manager">
      </editor>
      <editor
            class="com.hangum.tadpole.manager.core.editor.transaction.connection.TransactionConnectionListEditor"
            default="false"
            icon="resources/icons/transaction_db_status.png"
            id="com.hangum.tadpole.manager.core.editor.transaction.connection.db"
            name="DB Connection Manager">
      </editor>
      <editor
            class="com.hangum.tadpole.manager.core.editor.schemahistory.SchemaHistoryEditor"
            default="false"
            icon="resources/icons/schema_history.png"
            id="com.hangum.tadpole.manager.core.editor.schemahistory"
            name="Schema History">
      </editor>
      <editor
            class="com.hangum.tadpole.manager.core.editor.restfulapi.RESTFulAPIManagerEditor"
            default="false"
            icon="resources/icons/restful_api.png"
            id="com.hangum.tadpole.manager.core.editor.restfulapi"
            name="RESTful API Manager">
      </editor>
   </extension>

</plugin>
