<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.hangum.tadpole.manager.core.editor.auth.UserManagementEditor"
            default="false"
            icon="resources/icons/user.png"
            id="com.hangum.tadpole.manager.core.editor.usermanagement"
            name="%editor.name">
      </editor>
      <editor
            class="com.hangum.tadpole.manager.core.editor.executedsql.ExecutedSQLEditor"
            default="false"
            icon="resources/icons/queryhistory.png"
            id="com.hangum.tadpole.manager.core.editor.manager.executed_sql"
            name="실행한 쿼리">
      </editor>
      <editor
            class="com.hangum.tadpole.manager.core.editor.resource.ResourceManageEditor"
            default="false"
            id="com.hangum.tadpole.manager.core.editor.resource.manager"
            name="Resource Manager">
      </editor>
   </extension>

</plugin>
