<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!--
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/"
            class="com.hangum.tadpole.application.internal.redirect.RedirectServlet"
            load-on-startup="true">
      </servlet>
   </extension>
-->
      
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            brandingId="com.hangum.tadpole.browser.rap.branding"
            class="com.hangum.tadpole.application.Application"
            id="com.hangum.tadpole.browser.rap.Application"
            path="/">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            body="html/body.html"
            favicon="icons/TadpoleDBHub.ico"
            id="com.hangum.tadpole.browser.rap.branding"
            themeId="org.eclipse.rap.design.example.business.theme"
            title="Tadpole DB Hub-v1.7.2(r5)">
      </branding>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/loading.gif"
            base-name="/html/loading.gif">
      </resource>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
		<product
            application="org.eclipse.ui.ide.workbench"
         	name="tadpole-standalone">
      
         <property
               name="appName"
               value="tadpole-standalone">
         </property>
         <property
               name="startupForegroundColor"
               value="00FF00">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   

</plugin>
