<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.amazonaws.eclipse.dynamodb.editor.DynamoDBTableEditor"
            default="false"
            icon="icons/table.png"
            id="com.hangum.tadpole.db.dynamodb.core.editor.main"
            name="Amazon DynamoDB Table Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.amazonaws.eclipse.dynamodb.editor.runScan"
            name="Run scan">
      </command>
      <command
            id="org.eclipse.ui.file.save"
            name="Save changes to DynamoDB">
      </command>
   </extension>

</plugin>
