<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.hangum.tadpole.importexport.core.editors.mongodb.MongoDBImportEditor"
            default="false"
            icon="resources/icons/db_import.png"
            id="com.hangum.tadpole.importexport.editor.mongodb"
            name="MongoDB Import">
      </editor>
   </extension>

</plugin>
