@import "/org.dojotoolkit/dojo/resources/dojo.css";
@import "/org.dojotoolkit/dijit/themes/nihilo/nihilo.css";

a {
	cursor: hand;
	text-decoration: none;
	color: #ffffff;
}

a:hover {
	cursor: hand;
	text-decoration: underline;
	color: #ffffff;
}

.contentassist {
	display: none;
	background-color: #ffffff;
	padding: 2px;
	position: fixed;
	top: 100px;
	left: 100px;
	border: 1px solid #cccccc;
	z-index:10;
}

.contentassist .selected {
	background-color: #dddddd;
}
