<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="tadpole-rap-2.1.0-emf-standalone" sequenceNumber="220">
<locations>
<location path="${git-tadpole}/targetProject/rap-gef-port-2.1" type="Directory"/>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.rap.sdk.feature.group" version="2.7.0.v20120130-0943"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
<location path="${git-tadpole}/targetProject/test" type="Directory"/>
<location path="${git-tadpole}/targetProject/standalone-launcher" type="Directory"/>
<location path="${git-tadpole}/targetProject/eclipse-4.3-delta-pack" type="Directory"/>
<location path="${git-tadpole}/targetProject/ext" type="Directory"/>
<location path="${git-tadpole}/targetProject/multiTab" type="Directory"/>
<location path="${git-tadpole}/targetProject/rap-mars-3.0.0-S-20150525-1014" type="Directory"/>
<location path="${git-tadpole}/targetProject/addons${build_files}" type="Directory"/>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.9.0.v20140221-1852"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.3"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.eclipsesource.jaxrs.provider.sse.feature.feature.group" version="2.1.0.201503290743"/>
<unit id="com.eclipsesource.jaxrs.provider.gson.feature.source.feature.group" version="2.2.0.201503290743"/>
<unit id="com.eclipsesource.jaxrs.provider.sse.feature.source.feature.group" version="2.1.0.201503290743"/>
<unit id="com.eclipsesource.jaxrs.provider.multipart.feature.source.feature.group" version="2.1.0.201503290743"/>
<unit id="com.eclipsesource.jaxrs.connector.feature.source.feature.group" version="4.3.0.201503290743"/>
<unit id="com.eclipsesource.jaxrs.provider.security.feature.source.feature.group" version="2.1.0.201503290743"/>
<unit id="com.eclipsesource.jaxrs.provider.gson.feature.feature.group" version="2.2.0.201503290743"/>
<unit id="com.eclipsesource.jaxrs.provider.multipart.feature.feature.group" version="2.1.0.201503290743"/>
<unit id="com.eclipsesource.jaxrs.provider.security.feature.feature.group" version="2.1.0.201503290743"/>
<unit id="com.eclipsesource.jaxrs.provider.moxy.feature.feature.group" version="2.1.0.201503290743"/>
<unit id="com.eclipsesource.jaxrs.provider.moxy.feature.source.feature.group" version="2.1.0.201503290743"/>
<repository location="http://hstaudacher.github.io/osgi-jax-rs-connector"/>
</location>
</locations>
</target>
