<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="tadpole-rap-1.4.1-emf" sequenceNumber="3">
<locations>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.rap.sdk.feature.group" version="2.7.0.v20110913-1526"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rap.runtime.sdk.feature.group" version="1.4.1.20110914-1945"/>
<repository location="http://download.eclipse.org/rt/rap/1.4/runtime"/>
</location>
</locations>
</target>
