<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.hangum.tadpole.rdb.core.extensionpoint.definition.main.editor" name="%extension-point.name" schema="schema/com.hangum.tadpole.rdb.core.extensionpoint.definition.main.editor.exsd"/>
   <extension-point id="com.hangum.tadpole.rdb.core.extensionpoint.definition.connection.decoration" name="%extension-point.name.0" schema="schema/com.hangum.tadpole.rdb.core.extensionpoint.definition.connection.decoration.exsd"/>
   <extension-point id="com.hangum.tadpole.rdb.core.extensionpoint.definition.table.decoration" name="%extension-point.name.1" schema="schema/com.hangum.tadpole.rdb.core.extensionpoint.definition.table.decoration.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.hangum.tadpole.rdb.core.category.info"
            name="%category.name">
      </category>
      <view
            category="com.hangum.tadpole.rdb.core.category.info"
            class="com.hangum.tadpole.rdb.core.viewers.connections.ManagerViewer"
            icon="resources/icons/ConnectionList.png"
            id="com.hangum.tadpole.rdb.core.view.connection.manager"
            name="%view.name"
            restorable="true">
      </view>
      <view
            category="com.hangum.tadpole.rdb.core.category.info"
            class="com.hangum.tadpole.rdb.core.viewers.object.ExplorerViewer"
            icon="resources/icons/object_explorer.png"
            id="com.hangum.tadpole.rdb.core.view.object.explorer"
            name="%view.name.0"
            restorable="true">
      </view>
      <view
            class="com.hangum.tadpole.rdb.core.viewers.sql.template.SQLTemplateView"
            icon="resources/icons/template/templates.png"
            id="com.hangum.tadpole.rdb.core.view.sql.template"
            name="%view.name.SQLTemplate"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.hangum.tadpole.rdb.core.editors.intro.IntroEditor"
            default="false"
            icon="resources/icons/information-white.png"
            id="com.hangum.tadpole.rdb.core.editor.intor"
            name="%editor.name.1">
      </editor>
      <editor
            class="com.hangum.tadpole.rdb.core.editors.main.MainEditor"
            default="false"
            icon="resources/icons/sql-query.png"
            id="com.hangum.tadpole.rdb.core.editor.main"
            name="%editor.name.0">
      </editor>
      <editor
            class="com.hangum.tadpole.rdb.core.editors.objects.table.TableInformationEditor"
            icon="resources/icons/table_editor.png"
            id="com.hangum.tadpole.rdb.core.editors.table.edit"
            name="%editor.name.2">
      </editor>
      <editor
            class="com.hangum.tadpole.mongodb.core.ext.editors.javascript.ServerSideJavaScriptEditor"
            default="false"
            icon="resources/icons/dbs/mongodb-add.png"
            id="com.hangum.tadpole.mongodb.core.ext.editor.javascript"
            name="%editor.name.3">
      </editor>
      <editor
            class="com.hangum.tadpole.rdb.core.editors.sessionlist.SessionListEditor"
            default="false"
            icon="resources/icons/session-list.png"
            id="com.hangum.tadpole.rdb.core.editor.sessionlist"
            name="%editor.name.4">
      </editor>
      <editor
            class="com.hangum.tadpole.rdb.core.editors.dbinfos.RDBDBInfosEditor"
            default="false"
            icon="resources/icons/db_information.png"
            id="com.hangum.tadpole.rdb.core.editor.rdb.dbinfos"
            name="%editor.name.5">
      </editor>
      <editor
            class="com.hangum.tadpole.rdb.core.editors.objects.table.TableInformationEditor"
            default="false"
            id="com.hangum.tadpole.rdb.core.editor.objects.tableinfo"
            name="%editor.name.6">
      </editor>
      <editor
            class="com.hangum.tadpole.rdb.core.editors.externalbrowser.ExternalBrowserEditor"
            default="false"
            icon="resources/icons/commons/internet_browser.png"
            id="com.hangum.tadpole.rdb.core.editor.externalBrowser"
            name="%editor.name.7">
      </editor>
      <editor
            class="com.hangum.tadpole.rdb.core.editors.objectmain.ObjectEditor"
            default="false"
            icon="resources/icons/editor/compile.png"
            id="com.hangum.tadpole.rdb.core.editor.main.procedure"
            name="%editor.name.8">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="com.hangum.tadpole.rdb.core.viewerContribution.connect.manager"
            targetID="com.hangum.tadpole.rdb.core.view.connection.manager">
            <!--
            <action
               class="com.hangum.tadpole.rdb.core.actions.connections.ConnectDatabase"
               icon="resources/icons/connect.png"
               id="com.hangum.tadpole.rdb.core.action.connect"
               label="Connect Database"
               menubarPath="additions">
         </action>
         -->
         <action
               class="com.hangum.tadpole.rdb.core.actions.connections.ConnectionManagerRefreshAction"
               icon="resources/icons/refresh.png"
               id="com.hangum.tadpole.rdb.core.action.refresh"
               label="%action.label.3"
               menubarPath="additions">
         </action>
      </viewerContribution>
      <objectContribution
            adaptable="false"
            id="com.hangum.tadpole.rdb.core.objectContribution.connection"
            objectClass="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
         <action
               class="com.hangum.tadpole.rdb.core.actions.connections.DeleteDBAction"
               icon="resources/icons/delete_database.png"
               id="com.hangum.tadpole.rdb.core.action2"
               label="%action.label.23"
               menubarPath="menu.admin/groupAdminSeparator2">
            <enablement>
               <objectClass
                     name="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
               </objectClass>
            </enablement>
         </action>
        
         <visibility>
            <objectState
                  name="user_type"
                  value="admin,dba,manager">
            </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.hangum.tadpole.rdb.core.objectContribution.rdb"
            objectClass="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
         <menu
               icon="resources/icons/create-dml.png"
               id="menu.create"
               label="%menu.label">
            <groupMarker
                  name="dml">
            </groupMarker>
         </menu>
         <menu
               icon="resources/icons/erd.png"
               id="menu.erd"
               label="%menu.label.0">
            <groupMarker
                  name="erd">
            </groupMarker>
         </menu>
         <menu
               icon="resources/icons/user.png"
               id="menu.admin"
               label="%menu.label.2">
            <groupMarker
                  name="admin">
            </groupMarker>
            <separator
                  name="groupAdminSeparator0">
            </separator>
            <separator
                  name="groupAdminSeparator1">
            </separator>
            <separator
                  name="groupAdminSeparator2">
            </separator>
         </menu>
         <action
               class="com.hangum.tadpole.rdb.core.actions.admin.CsvToRdbImportAction"
               icon="resources/icons/db_import.png"
               id="com.hangum.tadpole.rdb.core.action.import.csv"
               label="%action.label.24"
               menubarPath="menu.admin/groupAdminSeparator1">
            <enablement>
               <objectClass
                     name="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
               </objectClass>
            </enablement>
         </action>
         <action
               class="com.hangum.tadpole.rdb.core.actions.admin.SQLToRdbImportAction"
               icon="resources/icons/db_import.png"
               id="com.hangum.tadpole.rdb.core.action.import.sql"
               label="%action.label.25"
               menubarPath="menu.admin/groupAdminSeparator1">
            <enablement>
               <objectClass
                     name="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
               </objectClass>
            </enablement>
         </action>
          <action
                class="com.hangum.tadpole.rdb.core.actions.connections.CreateTriggerAction"
                enablesFor="1"
                icon="resources/icons/sql-query.png"
                id="com.hangum.tadpole.rdb.core.action.creatTrigger"
                label="%action.label.4"
                menubarPath="menu.create/dml">
            <enablement>
               <objectClass
                     name="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
               </objectClass>
            </enablement>
         </action>
         <action
               class="com.hangum.tadpole.rdb.core.actions.connections.CreateFunctionAction"
               enablesFor="1"
               icon="resources/icons/sql-query.png"
               id="com.hangum.tadpole.rdb.core.action.creatFunction"
               label="%action.label.5"
               menubarPath="menu.create/dml">
            <enablement>
               <objectClass
                     name="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
               </objectClass>
            </enablement>
         </action>
         <action
               class="com.hangum.tadpole.rdb.core.actions.connections.CreateProcedureAction"
               enablesFor="1"
               icon="resources/icons/sql-query.png"
               id="com.hangum.tadpole.rdb.core.action.creatProcedure"
               label="%action.label.6"
               menubarPath="menu.create/dml">
            <enablement>
               <objectClass
                     name="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
               </objectClass>
            </enablement>
         </action>
         <action
               class="com.hangum.tadpole.rdb.core.actions.connections.CreateIndexAction"
               enablesFor="1"
               icon="resources/icons/sql-query.png"
               id="com.hangum.tadpole.rdb.core.action.createIndex"
               label="%action.label.7"
               menubarPath="menu.create/dml">
            <enablement>
               <objectClass
                     name="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
               </objectClass>
            </enablement>
         </action>
         <action
               class="com.hangum.tadpole.rdb.core.actions.connections.CreateViewAction"
               enablesFor="1"
               icon="resources/icons/sql-query.png"
               id="com.hangum.tadpole.rdb.core.action.createView"
               label="%action.label"
               menubarPath="menu.create/dml">
            <enablement>
               <objectClass
                     name="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
               </objectClass>
            </enablement>
         </action>
         <action
               class="com.hangum.tadpole.rdb.core.actions.connections.CreateTableAction"
               enablesFor="1"
               icon="resources/icons/sql-query.png"
               id="com.hangum.tadpole.rdb.core.action.createTable"
               label="%action.label.0"
               menubarPath="menu.create/dml">
            <enablement>
               <objectClass
                     name="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
               </objectClass>
            </enablement>
         </action>
         <action
               class="com.hangum.tadpole.rdb.core.actions.connections.ObjecCompileAction"
               icon="resources/icons/editor/compile.png"
               id="com.hangum.tadpole.rdb.core.action.query.object.compile.editor"
               label="%action.label.openObjectCompile"
               menubarPath="additions">
            <enablement>
               <objectClass
                     name="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
               </objectClass>
            </enablement>
         </action>
    
         <action
               class="com.hangum.tadpole.rdb.core.actions.connections.QueryEditorAction"
               enablesFor="1"
               icon="resources/icons/sql-query.png"
               id="com.hangum.tadpole.rdb.core.action.query.editor"
               label="%action.label.8"
               menubarPath="additions">
            <enablement>
               <objectClass
                     name="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
               </objectClass>
            </enablement>
         </action>
         <action
               class="com.hangum.tadpole.rdb.core.actions.erd.rdb.RDBERDViewAction"
               enablesFor="1"
               icon="resources/icons/erd.png"
               id="com.hangum.tadpole.erd.action"
               label="%action.label.9"
               menubarPath="menu.erd/erd">
            <enablement>
               <objectClass
                     name="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
               </objectClass>
            </enablement>
         </action>
         <action
               class="com.hangum.tadpole.rdb.core.actions.erd.rdb.RDBERDAllTableViewAction"
               enablesFor="1"
               icon="resources/icons/erd.png"
               id="com.hangum.tadpole.erd.action.all"
               label="%action.label.10"
               menubarPath="menu.erd/erd">
            <enablement>
               <objectClass
                     name="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
               </objectClass>
            </enablement>
         </action>
         <action
               class="com.hangum.tadpole.rdb.core.actions.admin.SessionListAction"
               enablesFor="1"
               icon="resources/icons/current-operation.png"
               id="com.hangum.tadpole.rdb.core.action.sessionlist"
               label="%action.label.26"
               menubarPath="menu.admin/groupAdminSeparator0">
            <enablement>
               <objectClass
                     name="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
               </objectClass>
            </enablement>
         </action>
         <action
               class="com.hangum.tadpole.rdb.core.actions.connections.ShowDBInformationAction"
               icon="resources/icons/db_information.png"
               id="com.hangum.tadpole.rdb.core.action.rdb.dbInformation"
               label="%action.label.27"
               menubarPath="additions">
         </action>
         <action
               class="com.hangum.tadpole.rdb.core.actions.commons.ExtensionBrowserAction"
               icon="resources/icons/commons/internet_browser.png"
               id="com.hangum.tadpole.rdb.core.action.extensionBrowser"
               label="%action.label.28">
         </action>
         <!--
         <action
               class="com.hangum.tadpole.rdb.core.actions.commons.ScheduleCreateAction"
               icon="resources/icons/commons/schedule.png"
               id="com.hangum.tadpole.rdb.core.action.schedule"
               label="Create schedule">
         </action>
         <action
               class="com.hangum.tadpole.rdb.core.actions.connections.DisconnectDBAction"
               enablesFor="1"
               icon="resources/icons/disconnect.png"
               id="com.hangum.tadpole.rdb.core.action.connection.disconnectdb"
               label="Disconnnect Database"
               menubarPath="additions">
            <enablement>
               <objectClass
                     name="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
               </objectClass>
            </enablement>
         </action>
         -->
         <visibility>
            <objectState
                  name="db_type"
                  value="cubrid,mariadb,mysql,mssql,mssql_8_le,oracle,postgresql,sqlite,tibero,altibase">
            </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.hangum.tadpole.rdb.core.objectContribution.rdb.sqlite.ext"
            objectClass="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
         <action
               class="com.hangum.tadpole.rdb.core.actions.connections.ext.DownloadSQLiteDBAction"
               icon="resources/icons/download.png"
               id="com.hangum.tadpole.rdb.core.action.sqlite.download"
               label="%action.label.29">
            <enablement>
               <objectClass
                     name="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
               </objectClass>
            </enablement>
         </action>
         <visibility>
            <objectState
                  name="db_type"
                  value="sqlite">
            </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.hangum.tadpole.rdb.core.objectContribution.hive"
            objectClass="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
<menu
               icon="resources/icons/create-dml.png"
               id="menu.create"
               label="%menu.label">
            <groupMarker
                  name="dml">
            </groupMarker>
         </menu>
         <menu
               icon="resources/icons/erd.png"
               id="menu.erd"
               label="%menu.label.0">
            <groupMarker
                  name="erd">
            </groupMarker>
         </menu>
         <menu
               icon="resources/icons/user.png"
               id="menu.admin"
               label="%menu.label.3">
            <groupMarker
                  name="admin">
            </groupMarker>
         </menu>
         <action
               class="com.hangum.tadpole.rdb.core.actions.connections.CreateTableAction"
               enablesFor="1"
               icon="resources/icons/sql-query.png"
               id="com.hangum.tadpole.rdb.core.action.createTable"
               label="%action.label.0"
               menubarPath="menu.create/dml">
            <enablement>
               <objectClass
                     name="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
               </objectClass>
            </enablement>
         </action>
    
         <action
               class="com.hangum.tadpole.rdb.core.actions.connections.QueryEditorAction"
               enablesFor="1"
               icon="resources/icons/sql-query.png"
               id="com.hangum.tadpole.rdb.core.action.query"
               label="%action.label.8"
               menubarPath="additions">
            <enablement>
               <objectClass
                     name="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
               </objectClass>
            </enablement>
         </action>
         <action
               class="com.hangum.tadpole.rdb.core.actions.erd.rdb.RDBERDViewAction"
               enablesFor="1"
               icon="resources/icons/erd.png"
               id="com.hangum.tadpole.erd.action"
               label="%action.label.9"
               menubarPath="menu.erd/erd">
            <enablement>
               <objectClass
                     name="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
               </objectClass>
            </enablement>
         </action>
         <action
               class="com.hangum.tadpole.rdb.core.actions.erd.rdb.RDBERDAllTableViewAction"
               enablesFor="1"
               icon="resources/icons/erd.png"
               id="com.hangum.tadpole.erd.action.all"
               label="%action.label.10"
               menubarPath="menu.erd/erd">
            <enablement>
               <objectClass
                     name="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
               </objectClass>
            </enablement>
         </action>
         <action
               class="com.hangum.tadpole.rdb.core.actions.commons.ExtensionBrowserAction"
               icon="resources/icons/commons/internet_browser.png"
               id="com.hangum.tadpole.rdb.core.action.extensionBrowser"
               label="%action.label.30">
            <enablement>
               <objectClass
                     name="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
               </objectClass>
            </enablement>
         </action>
    <!--      
         <action
               class="com.hangum.tadpole.rdb.core.actions.admin.SessionListAction"
               enablesFor="1"
               icon="resources/icons/current-operation.png"
               id="com.hangum.tadpole.rdb.core.action.sessionlist"
               label="%action.label.26"
               menubarPath="menu.admin/admin">
            <enablement>
               <objectClass
                     name="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
               </objectClass>
            </enablement>
         </action>

         <action
               class="com.hangum.tadpole.rdb.core.actions.connections.DisconnectDBAction"
               enablesFor="1"
               icon="resources/icons/disconnect.png"
               id="com.hangum.tadpole.rdb.core.action.connection.disconnectdb"
               label="Disconnnect Database"
               menubarPath="additions">
            <enablement>
               <objectClass
                     name="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
               </objectClass>
            </enablement>
         </action>
         -->
         <visibility>
            <objectState
                  name="db_type"
                  value="Apache Hive,Apache Hive2,Apache Tajo">
            </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.hangum.tadpole.rdb.core.objectContribution.nosql"
            objectClass="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
         <menu
               icon="resources/icons/user.png"
               id="menu.admin"
               label="%menu.label.4">
            <groupMarker
                  name="admin">
            </groupMarker>
         </menu>
         <action
               class="com.hangum.tadpole.rdb.core.actions.nosql.mongodb.MongoDBImportAction"
               icon="resources/icons/db_import.png"
               id="com.hangum.tadpole.rdb.core.action.import"
               label="%action.label.11"
               menubarPath="menu.admin/groupAdminSeparator0">
            <enablement>
               <objectClass
                     name="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
               </objectClass>
            </enablement>
         </action>
         <action
               class="com.hangum.tadpole.rdb.core.actions.nosql.mongodb.MongodbCurrentOpAction"
               icon="resources/icons/current-operation.png"
               id="com.hangum.tadpole.rdb.core.action.nosql.mongodb.currentop"
               label="%action.label.31"
               menubarPath="menu.admin/groupAdminSeparator0">
            <enablement>
               <objectClass
                     name="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
               </objectClass>
            </enablement>
         </action>
         <action
               class="com.hangum.tadpole.rdb.core.actions.nosql.mongodb.MongodbTopAction"
               icon="resources/icons/go-top.png"
               id="com.hangum.tadpole.rdb.core.action.nosql.monogodb.top"
               label="%action.label.15"
               menubarPath="additions">
            <enablement>
               <objectClass
                     name="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
               </objectClass>
            </enablement>
         </action>
         <action
               class="com.hangum.tadpole.rdb.core.actions.nosql.mongodb.MongodbGridFSAction"
               icon="resources/icons/GridFS.png"
               id="com.hangum.tadpole.rdb.core.action.nosql.mongodb.gridfs"
               label="%action.label.17"
               menubarPath="additions">
            <enablement>
               <objectClass
                     name="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
               </objectClass>
            </enablement>
         </action>
          <action
               class="com.hangum.tadpole.rdb.core.actions.nosql.mongodb.MongodbDBStatusAction"
               icon="resources/icons/db_status.png"
               id="com.hangum.tadpole.rdb.core.action.nosql.monogodb.serverstatus"
               label="%action.label.16"
               menubarPath="additions">
            <enablement>
               <objectClass
                     name="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
               </objectClass>
            </enablement>
         </action>
         <action
               class="com.hangum.tadpole.rdb.core.actions.connections.ShowDBInformationAction"
               icon="resources/icons/db_information.png"
               id="com.hangum.tadpole.rdb.core.action.rdb.dbInformation"
               label="%action.label.32"
               menubarPath="additions">
         </action>tion>
         <action
               class="com.hangum.tadpole.rdb.core.actions.nosql.mongodb.MongodbProfillingAction"
               icon="resources/icons/profile.png"
               id="com.hangum.tadpole.rdb.core.action.nosql.mongodb.profilling"
               label="%action.label.12"
               menubarPath="menu.admin/groupAdminSeparator0">
            <enablement>
               <objectClass
                     name="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
               </objectClass>
            </enablement>
         </action>
         <action
               class="com.hangum.tadpole.rdb.core.actions.nosql.mongodb.MongodbCommandAction"
               icon="resources/icons/command.png"
               id="com.hangum.tadpole.rdb.core.action.run.command"
               label="%action.label.33"
               menubarPath="menu.admin/groupAdminSeparator0">
            <enablement>
               <objectClass
                     name="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
               </objectClass>
            </enablement>
         </action>
         <menu
               icon="resources/icons/erd.png"
               id="menu.nosql.erd"
               label="%menu.label.1">
            <groupMarker
                  name="erd">
            </groupMarker>
         </menu>
		<action
        class="com.hangum.tadpole.rdb.core.actions.erd.mongodb.MongoDBERDDeleteAction"
        enablesFor="1"
        icon="resources/icons/delete-relation.png"
        id="com.hangum.tadpole.erd.delete.action"
        label="%action.label.19"
        menubarPath="menu.nosql.erd/erd">
            <enablement>
               <objectClass
                     name="com.hangum.tadpole.sql.dao.system.UserDBResourceDAO">
               </objectClass>
            </enablement>
         </action>
    
         <action
               class="com.hangum.tadpole.rdb.core.actions.erd.mongodb.MongoDBERDViewAction"
               enablesFor="1"
               icon="resources/icons/erd.png"
               id="com.hangum.tadpole.erd.action"
               label="%action.label.20"
               menubarPath="menu.nosql.erd/erd">
            <enablement>
               <objectClass
                     name="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
               </objectClass>
            </enablement>
         </action>
         <action
               class="com.hangum.tadpole.rdb.core.actions.erd.mongodb.MongoDBERDAllTableViewAction"
               enablesFor="1"
               icon="resources/icons/erd.png"
               id="com.hangum.tadpole.erd.action.all"
               label="%action.label.21"
               menubarPath="menu.nosql.erd/erd">
            <enablement>
               <objectClass
                     name="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
               </objectClass>
            </enablement>
         </action>
         <action
               class="com.hangum.tadpole.rdb.core.actions.commons.ExtensionBrowserAction"
               icon="resources/icons/commons/internet_browser.png"
               id="com.hangum.tadpole.rdb.core.action.extensionBrowser"
               label="%action.label.34">
            <enablement>
               <objectClass
                     name="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
               </objectClass>
            </enablement>
         </action>
         <!--
         <action
               class="com.hangum.tadpole.rdb.core.actions.connections.DisconnectDBAction"
               enablesFor="1"
               icon="resources/icons/disconnect.png"
               id="com.hangum.tadpole.rdb.core.action.connection.disconnectdb"
               label="Disconnnect Database">
            <enablement>
               <objectClass
                     name="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
               </objectClass>
            </enablement>
         </action>
         -->
         <visibility>
            <objectState
                  name="db_type"
                  value="mongodb">
            </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.hangum.tadpole.rdb.core.objectContribution.resource"
            objectClass="com.hangum.tadpole.engine.query.dao.system.UserDBResourceDAO">
         <action
               class="com.hangum.tadpole.rdb.core.actions.erd.rdb.RDBERDDeleteAction"
               enablesFor="1"
               icon="resources/icons/delete-relation.png"
               id="com.hangum.tadpole.rdb.core.action.deleteResource"
               label="%action.label.22"
               menubarPath="additions">
         </action>
         <action
               class="com.hangum.tadpole.rdb.core.actions.erd.rdb.ResourceDetailAction"
               enablesFor="1"
               icon="resources/icons/detail.png"
               id="com.hangum.tadpole.rdb.core.action.historyResource"
               label="%action.label.history"
               menubarPath="additions">
         </action>
         <visibility>
            <objectState
                  name="type"
                  value="resource">
            </objectState>
         </visibility>
      </objectContribution>     
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.hangum.tadpole.engine.query.dao.system.UserDBDAO"
            class="com.hangum.tadpole.rdb.core.actions.adapter.rdb.DBTypeActionFilterAdapterFactory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.hangum.tadpole.engine.query.dao.system.UserDBResourceDAO"
            class="com.hangum.tadpole.rdb.core.actions.adapter.resource.ResourceTypeAdapterFactory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="com.hangum.tadpole.wizard.create.connection.NewConnectionWizard"
            id="com.hangum.tadpole.rdb.core.wizard.connection.db"
            name="%wizard.name">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.hangum.tadpole.rdb.core.view.connection.manager">
         <command
               commandId="com.hangum.tadpole.rdb.core.command.synceditor"
               icon="resources/icons/synced.gif"
               style="toggle"
               tooltip="%command.tooltip">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.hangum.tadpole.rdb.core.actions.global.SynchronizedEditorHandler"
            id="com.hangum.tadpole.rdb.core.command.synceditor"
            name="%command.name">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
   </extension>

</plugin>
