<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.hangum.tadpole.preference.ui.GeneralPreferencePage"
            id="com.hangum.tadpole.preference.page.general"
            name="%page.name">
      </page>
      <page
            class="com.hangum.tadpole.preference.ui.UserInfoPerference"
            id="com.hangum.db.browser.rap.core.page.userInfo"
            name="%page.name.0">
      </page>
      <page
            class="com.hangum.tadpole.preference.ui.RDBPreferencePage"
            id="com.hangum.db.browser.rap.core.page.rdb"
            name="%page.name.1">
      </page>
      <page
            class="com.hangum.tadpole.preference.ui.SQLFormatterPreferencePage"
            id="com.hangum.tadpole.preference.page.sqlformatter"
            name="%page.name.2">
      </page>
      <page
            class="com.hangum.tadpole.preference.ui.MongoDBPreferencePage"
            id="com.hangum.tadpole.preference.page.mongodb"
            name="%page.name.3">
      </page>
      <!--
      <page
            class="com.hangum.tadpole.preference.ui.AmazonPreferencePage"
            id="com.hangum.tadpole.preference.page.aws.amazon"
            name="%page.name.4">
      </page>
      -->
      <page
            class="com.hangum.tadpole.preference.ui.PerspectivePreferencePage"
            id="com.hangum.tadpole.preference.page.perspective"
            name="%page.name.5">
      </page>
      <page
            class="com.hangum.tadpole.preference.ui.SecurityCredentialPreference"
            id="com.hangum.tadpole.preference.page.securityCredentials"
            name="%page.name.6">
      </page>
      <page
            class="com.hangum.tadpole.preference.ui.EditorPreferencePage"
            id="com.hangum.tadpole.preference.page.editor"
            name="%page.name.7">
      </page>
   </extension>
</plugin>
