<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="com.hangum.db.browser.rap.Application"
            parameter="tadpole"
            id="com.hangum.db.browser.rap.Application">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            body="html/body.html"
            defaultEntrypointId="com.hangum.db.browser.rap.Application"
            exitConfirmationClass="com.hangum.db.browser.rap.exit.ExitConfirm"
            favicon="icons/TadpoleForDBTools.ico"
            id="com.hangum.db.browser.rap.branding"
            servletName="db"
            themeId="org.eclipse.rap.design.example.business.theme"
            title="Tadpole for DB Tools - 0.0.8 SR4">
      </branding>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/loading.gif"
            base-name="/html/loading.gif">
      </resource>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
		<product
            application="org.eclipse.ui.ide.workbench"
         	name="tadpole-standalone-buckminster">
      
         <property
               name="appName"
               value="tadpole-standalone-buckminster">
         </property>
      </product>
   </extension>
   

</plugin>
